
.page-lbl {
	text-align: center;
	font-size: 20px;
	margin-bottom: 150px;
	margin-top: 50px;
	
}
.contacts-page{
	margin-bottom: 100px;
}
.map-responsive iframe{
	width: 100%;
	height:550px;
}


.container-contact label {
    margin-bottom: 8px;
    display: block;
    cursor: default;
}
.contact-colls-lbl{
    margin-bottom: 40px;
}
.booking-form-i .textarea-wrapper textarea {
    resize: none;
    height: 112px;
    
    width: 100%;
    font-size: 14px;
    /*font-family: 'Raleway';*/
    
}
.contact-textarea {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
       
        -webkit-writing-mode: horizontal-tb;
}
.booking-form-i .textarea-wrapper {
   
    
    
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.04);
    border-radius: 2px;
}

/*nut send*/
 .contacts-send {
    color: #fff;
    margin-top: 5px;
    border-radius: 2px;
    border: 0px;
    background: #FF8521;
    text-transform: uppercase;
    cursor: pointer;
    padding:10px 15px;
}

.contacts-send:hover {
    opacity: 0.8;
}
/*end nut send*/
