/* css footer */
 .footer{
	background-color: #141D1E;
	text-align: center;
}
 .footer .iconfooter ul{
	display: block;
	text-align: center;
	padding:0px;
	
}
 .footer .iconfooter ul li{
	display: inline-table;
	padding:5px 8px;
	border:1px solid rgba(241,241,241, .6);
	border-radius:4px;
	margin:8px;
	color: rgba(84,84,84,.6);
	text-align: center;
}
.footer .facefooter:hover{
	background-color: #3B5998;
	color: white;
}
 .footer .googlefooter:hover{
	background-color:  #CB2027;
	color: white;
}
 .footer .twitterfooter:hover{
	background-color: #33CCFF;
	color: white;
}
.footer .youtubefooter:hover{
	background-color: #FE5134;
	color: white;
}
 ul >li:hover a{
	color: white;
}
 .footer .byfooter, .iconfooter{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: white;
}
 .footer .byfooter{
	border-top:1px solid whitesmoke;
}

 .btn-top{
	bottom: 40px;
	right: 30px;
	position: fixed;
	z-index: 99999;
	color: #FF8521;
	padding: 7px 12px;
	border:2px solid #FF8521;
	display: none;
	cursor:pointer;
}
.btn-top:hover {
	background-color:#FF8521;
	border:2px solid #FF8521;
	color: white;
}

/*div login*/
  #mySidenav a{
    position: fixed;
    left: -70px;
    transition: 0.6s;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 99999;
    display: none;
}

#mySidenav a:hover {
    left: 0;
}

#login {
    top: 300px;
    background-color: #FF8521;
}
#login:hover{
	background-color: #FF8521;
	opacity: .8;
}
/*end div login*/