body{
	overflow-x: hidden;
}
.nav-menu{
    z-index: 99999;
    top: 0px;
    width: 100%;
    background: white;
    margin: 0px;
    transition: .5s;
}
.fixedmenu{
    position: fixed;
    bottom: 1px solid red;
}
.navbar {
    margin: 0;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    border-radius: 0;
    padding-bottom: 20px;
    padding-top: 20px;

}

.navbar li a, .navbar .navbar-brand { /*mau chu the li*/
    color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a{
    color: #FF8521 !important;
   /* background-color:none !important; *//*mau khung the li menu*/
}
.navbar-nav .icon-search:hover{
    color: #FF8521;
    background: white;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    /*background: none;*/
    color: #fff !important;
}
.nav-background .icon-button-nav .line{
    background-color: #ff8521;
}
.nav-background .icon-button-nav:hover{
    background: white;
    color: #FF8521;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
.navbar-header{
    /*padding-right: 30px;*/
}
.nav-background{
	background: none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: white;
}
#myNavbar .dropdown-menu {
    margin: 0px;
    padding: 0px;
}

.nav>.openmenu>a:hover{
   /*background: rgba(23,62, 67,.9);*/
}
#myNavbar .dropdown-menu li a{
    padding:10px 18px;
    background-color: white;
    color: white;
}
@media (min-width: 480px) {
    .inputsearch{
        margin-right: 30px;
    }
}
/*@media(max-width: 780px){
    body{
        padding-left: 50px;
        padding-right: 50px;
    }
    }*/
    .btn-default-1 {
        color: #FF8521;
        background-color: transparent;
        border-color: #FF8521;
        border-radius: 0px;
    }
    .btn-default-1:hover{
        opacity: 0.8;
        color: #FF8521;
    }
    .navbar-right .input-group input{
        color: black;
        background-color: transparent;
        border-color: #FF8521;
        border-radius: 0px;
    }
