.page-fligth-detail{
	margin-bottom: 15px;
}
.img-page-flight{
	width: 100%;
	height: 100px;
}
.title-page-flight{
	/*margin: 0px;*/
	/*padding: 0px;*/
	height: 100px;
	background: white;
	border-right: 1px solid whitesmoke;
}
.abstract-page-flight{
	background: white;
	padding-top: 5px;
	border-top:1px solid whitesmoke;
}
.abstract-page-flight .icon-flight-start, .abstract-page-flight .icon-flight-return{
	height: 50px;
	margin: 0px;
}
.abstract-page-flight .icon-flight-start{
	background: url(../img/flight.png) left center no-repeat;
	padding: 5px 0px 0px 23px;
	line-height: 12px;
	float: left;
}
.abstract-page-flight .icon-flight-return{
	background: url(../img/flight-return.png) left center no-repeat;
	padding: 5px 0px 0px 23px;
	line-height: 12px;
	float: left;
}
.abstract-page-flight .icon-flight-time{
	background: url(../img/flight-time.png) left center no-repeat;
	padding: 5px 0px 0px 23px;
	line-height: 12px;
	float: left;
}

.price-page-flight{
	/*border-left:1px solid whitesmoke;*/
	padding-top: 0px;
	padding-bottom: 0px;
}
.price-page-flight .price-flight{
	font-size: 20px; 
	color:#FF8521;
	margin-bottom: 2px;
	margin-top: 2px;
}
.price-page-flight .btn-page-fligth{
	padding-top: 3px 7px;
	margin:5px 0px;
	border: 2px solid #FF8521;
	border-radius: 4px;
	color: #FF8521;
}
.price-page-flight .btn-page-fligth:hover{
	background: #FF8521;
	color: white;
}
