 <!-- Modal -->
  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Xác nhận</h4>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa</p>
        </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Có</button>
           <button type="button" class="btn btn-warning" data-dismiss="modal">Hủy</button>
        </div>
      </div>
      
    </div>
  </div>
